.header{
    width: 100%;
    background: var(--LightTopBG);
    padding: 20px 5% 40px 5%;
    border-radius: 0 0 50px 50px;
    position: relative;
}

.header__title{
    font-weight: 700;
    padding: 10px 0 5px 0;
}

.header__totalFollowers{
    font-weight: 700;
    color: var(--LightText);
    font-size: 14px;
}

.header__darkMode{
    border-top: 1px solid black;
    margin-top: 15px;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__darkMode--span{
    font-weight: 700;
    color: var(--LightText);
}

.header__darkMode--box{
    width: 60px;
    height: 30px;
    background-color: var(--Toggle);
    border-radius: 50px;
    position: relative;
    display: flex;
    align-items: center;
}

.header__darkMode--button{
    background-color: var(--LightBG);
    width: 25px;
    height: 25px;
    border-radius: 50px;
    border: 0;
    position: absolute;
    right: 5px;
}

.active{
    left: 5px;
    background: var(--DarkBG);
}

.activeBox{
    background: linear-gradient(90deg, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}

.dark{
    background-color: var(--DarkTopBG);
}

.dark .header__title{
    color: var(--DarkTextWhite);
}

.dark .header__totalFollowers, .dark .header__darkMode--span{
    color: var(--DarkText);
}

@media screen and (min-width: 765px){
    .header{
        padding: 0 10% 3%;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
    }

    .header__darkMode{
        border: 0;
    }

    .header__darkMode--span{
        margin-right: 20px;
    }
}